# Ignore log files
*.log

# Ignore node_modules folder
node_modules/

# Ignore environment files
.env

# Ignore all files in the tmp directory
tmp/

# Ignore all .DS_Store files (macOS)
.DS_Store

# Byte-compiled files
*.py[cod]
__pycache__/
*.so